<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/css/Tools.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
</head>
<body>
    <div class="cont">
        <div class="card">
            <div class="card-head">NHA</div>
            <div class="card-body row">
                <div class="img-container col-12" style="text-align: center;">
                    <img src="/Images/NHA.png" style="height: 180px; width:70%; border:1px solid rgb(20, 20, 20); border-radius:10px;">
                </div>
            </div>
            <div class="card-footer">
                <a href="NHA" class="btn">Run exe</a>
            </div>
        </div>
        <div class="card">
            <div class="card-head">EPIC</div>
            <div class="card-body row">
                <div class="img-container col-12" style="text-align: center;">
                    <img src="/Images/EPIC-TN_Front.png" style="height: 180px; width:70%; border:1px solid rgb(20, 20, 20); border-radius:10px;">
                </div>
            </div>
            <div class="card-footer">
                <a href="EPIC" class="btn">Run exe</a>
            </div>
        </div>
        <div class="card">
            <div class="card-head">Disability</div>
            <div class="card-body row">
                <div class="img-container col-12" style="text-align: center;">
                    <img src="/Images/Disability.png" style="height: 180px; width:70%; border:1px solid rgb(20, 20, 20); border-radius:10px;">
                </div>
            </div>
            <div class="card-footer">
                <a class="btn" href="Disability">Run exe</a>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>


</body>
</html>
