@model IMSMIS.Models.User
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/Users.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <style>

        .card {
            width: 50%;
            margin: 10px;
        }

        .form-group {
            margin-bottom: 10px;
            width: 70%;
        }

        button {
            margin-top: 20px;
        }


        .form-control:focus, .form-select:focus {
            outline: none;
            border: 1px solid #ced4da;
            box-shadow: none;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: transparent;
            backdrop-filter: blur(3px);
        }


        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 30%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }

        .close {
            width: 20%;
            background: transparent;
            color: #337DFF;
            border: 1px solid #337DFF;
            border-radius: 4px;
        }

            .close:hover,
            .close:focus {
                width: 20%;
                background: #337DFF;
                color: #fff;
                border: 1px solid #337DFF;
            }

    </style>
    <title>IMS-MIS</title>

</head>

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h5 class="card-title">Create New User</h5>
        <a href="/User/Users" class="newuser"><i class="ri-arrow-left-circle-line"></i>Back</a>
    </div>
    <div class="card-body p-3">
        <form asp-controller="Assignee" asp-action="Create" method="post">
            <div class="form-group mt-3">
                <label for="firstName">First Name:</label>
                <input type="text" class="form-control" id="firstName" asp-for="FirstName" required>
            </div>
            <div class="form-group mt-3">
                <label for="lastName">Last Name:</label>
                <input type="text" class="form-control" id="lastName" asp-for="LastName" required>
            </div>
            <div class="form-group mt-3">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" asp-for="EmailId" required>
            </div>
            <div class="form-group">
                <label for="role">Role:</label>
                <select class="form-select" id="role" asp-for="UserRole" required>
                    <option value="" selected disabled hidden>Select Role</option>.
                    <option value="Admin">Admin</option>
                    <option value="CRM">CRM</option>
                    <option value="datateam">Data Team</option>
                    <option value="dev">Development Team</option>
                </select>
            </div>
            <button type="submit" class="btn btn-sm btn-outline-primary"><span style="font-weight:500;">Create</span></button>
        </form>
    </div>
</div>
@if (TempData["ErrorMessage"] != null)
{

    <div id="myModal" class="modal">
        <div class="modal-content">
            <h4>@TempData["ErrorMessage"]</h4>
            <button class="close">OK</button>
        </div>
    </div>
}
<body>


    <script>
        var modal = document.getElementById("myModal");
        var closeButton = document.querySelector(".modal-content button.close");

        window.onload = function () {
            modal.style.display = "block";
        };

        // Close the modal when the button is clicked
        closeButton.addEventListener("click", function () {
            modal.style.display = "none";
        });

        // Close the modal when the close button is clicked
        var closeButtonSpan = document.querySelector(".modal-content .close");
        closeButtonSpan.addEventListener("click", function () {
            modal.style.display = "none";
        });

        // Close the modal when clicked outside the modal
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        };
    </script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>