.card {
    flex: 1;
    box-shadow: 0 0 8px rgba(117, 117, 117, 0.5);
    border-radius: 5px;
    overflow: hidden;
}

    .card .card-head {
        color: black;
        padding: 10px;
    }

    .card .card-body {
        padding: 10px;
    }

.newuser {
    position: relative;
    margin-top: 25px;
    background-color: #fff;
    border: none;
    box-shadow: 0 0 10px rgba(117, 117, 117, 0.5);
    color: black;
    padding: 3px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px;
    cursor: pointer;
    justify-content: flex-end;
    border-radius: 10px;
}

    .newuser:hover {
        background: #a196c5;
        color: #fff;
    }

.table th,
.table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #795D83;
    font-size: 15px;
    cursor: pointer;
}

.filters {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #795D83;
    cursor: pointer;
}

.table td {
    font-size: 15px;
    color: #262626;
    font-weight: 500;
}

.table a {
    text-decoration: none;
    color: #262626;
    transition: color 0.3s;
}

    .table a:hover {
        text-decoration: underline;
        color: #0040c9;
    }

.table tbody tr td span {
    border: 1px solid #795D83;
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
    padding: 0px 3px;
    background-color: #795D83;
    margin-right: 7px;
    font-weight: 600;
}

.pagination {
    margin-top: 20px;
}

    .pagination .page-item .page-link {
        color: #795D83;
    }

    .pagination .page-item.active .page-link {
        background-color: #795D83;
        border-color: #795D83;
        color: #fff;
    }

    .pagination .page-link {
        padding: 6px 12px;
        border: 1px solid #dee2e6;
        margin-left: -1px;
        line-height: 1.5;
        background-color: #fff;
        border: 1px solid #dee2e6;
        color: #795D83;
    }

        .pagination .page-link:hover {
            background-color: #f2f2f2;
        }

#filterRow .col-md-2 select.form-control {
    width: 75%;
    padding: .175rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .50rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#filterRow .col-md-2 .remove {
    color: #dc3545;
    cursor: pointer;
    font-size: medium;
    transition: color 0.3s;
}

#filterRow .col-md-2 select.form-control:focus {
    outline: none;
    border: 1px solid #ced4da;
    box-shadow: none;
}
